body { 
  background: url(../img/bg_hero_1.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
* {
  scrollbar-width: thin;
  scrollbar-color: white rgb(125, 21, 245);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: white
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(41, 41, 41);
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.nowrap-grid-container {
  display:table-row;
  flex-wrap:wrap;
  padding: 10px;
}

.marginLeft30 {
  margin-left: 30px;
  margin-top: 30px;
}

.roundedProfile {
  border-radius: 10px;
}

.roundedColorPreview {
  width: 20px;
  height: 20px;  
  background: #73AD21;
}

.right {
  float: right;
  margin-right: 8px;
}

.left {
  float: left;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerButton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 114px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.clicky {
  cursor: pointer;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.colorPicker{
  position: absolute;
  top: 120px;
  right: 120px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}